{
  "extends": ["airbnb-base", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "camelcase": "warn",
    "no-unused-vars": "warn",
    "no-underscore-dangle": ["error", { "allow": ["_get"] }]
    // "prettier/prettier": "error"
  }
}
